<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!forgotPasswordForm.valid">
      Enviar Correo de Recuperación
    </ion-button>
  </form>
  <ion-text class="ion-text-center">
    <p (click)="goToLogin()">Volver al inicio de sesión.</p>
  </ion-text>
</ion-content>