.table-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.table-header {
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }
}

.table-cell {
  padding: 10px;
  text-align: left;
  flex: 1;

  &.header-cell {
    flex: 2; // Ajusta el ancho de las celdas de encabezado si es necesario
  }

  &.title-cell {
    flex: 2; // Ajusta el ancho de la celda del título
  }

  &.description-cell {
    flex: 3; // Ajusta el ancho de la celda de descripción
    margin-right: auto;
    margin-left: auto;
  }

  &.actions-cell {
    flex: 1; // Aumenta el ancho de la celda de acciones
    display: flex;
    align-items: left;
    justify-content: flex-end;

    ion-buttons {
      margin-right: auto;
      margin-left: auto;

    }
  }
  body {
    background-color: #ddd;
  }
  ion-toolbar {
    ion-buttons[slot="end"] {
      margin-right: 5px; // Espacio a la derecha de los botones
    }
    ion-button {
      margin-left: 5px; // Espacio entre los botones
    }
  }
}