<ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button [routerLink]="['/categories']">
          <i class="fas fa-list" slot="start"></i>
          <ion-label>Categorías</ion-label>
        </ion-item>
        <ion-item button (click)="logout()">
          <i class="fas fa-sign-out-alt" slot="start"></i>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <div id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle auto-hide="false">

          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Notas</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="navigateToAddCategory()">
            <i class="fas fa-plus-circle" slot="start"></i>
            Agregar Categoría
          </ion-button>
          <ion-button (click)="addTask()">
            <i class="fas fa-plus" slot="start"></i>
            Agregar Tarea
          </ion-button>
          <ion-button (click)="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Cerrar sesión
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  
    <ion-content [fullscreen]="true">
      <ion-item>
          <ion-label>Filtrar: </ion-label>
          <ion-select [(ngModel)]="selectedCategoryId" (ionChange)="onCategoryChange()" interface="popover">
              <ion-select-option value="">Todas</ion-select-option>
              <ion-select-option *ngFor="let category of categories$ | async" [value]="category.id">
                  {{ category.name }}
              </ion-select-option>
          </ion-select>
      </ion-item>
      <div class="table-container">
        <div class="table-header">
            <div class="table-cell header-cell">Título</div>
            <div class="table-cell header-cell">Descripción</div>
            <div class="table-cell header-cell">Completada</div>
            <div class="table-cell header-cell">Acciones</div>
            
        </div>
  
        <div class="table-row" *ngFor="let task of tasks$ | async">
          <div class="table-cell title-cell">{{ task.title }}</div>
          <div class="table-cell description-cell">{{ task.description }}</div>
          <div class="table-cell actions-cell">
            <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleTaskCompletion(task)"></ion-checkbox>
        </div>
          <div class="table-cell actions-cell">
            <ion-buttons>
              <ion-button (click)="editTask(task)">
                  <i class="fas fa-pencil-alt" slot="icon-only"></i>
              </ion-button>
              <ion-button (click)="deleteTask(task.id)">
                  <i class="fas fa-trash" slot="icon-only"></i>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </div>
    </ion-content>
  </div>